.table {
    display: block;
    justify-content: stretch;
    margin: 20px;
}

.form{
    margin: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    

}

.red {color: red;}

h2, p, h1 {margin-left: 20px;}

.input {
    margin: 10px;
    width: 90%;
}

button {width: 20%; min-width: 140px;}

.remove_button {width: 30px;}
.message {
    width: calc(100% - 80px);
}

